<!-- Generated template for the HeaderMenuComponent component -->
<div>
    <ion-list>
        <ion-item (click)="pageClicked('DashboardPage')">Dashboard</ion-item>
        <ion-item (click)="pageClicked('PosPage')">Open Casher</ion-item>
        <ion-item (click)="pageClicked('CasherPage')">Close Casher</ion-item>
        <ion-item (click)="pageClicked('AnalyticsPage')">Analytics</ion-item>
        <ion-item (click)="pageClicked('ConfigPage')">Configuracion</ion-item>
        <ion-item (click)="logoutClicked()">Logout</ion-item>
    </ion-list>
</div>
